/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
/*---- сердце------ */

.like-icon {
  cursor: pointer;
  fill: var(--accent-color);
  height: 38px;
  width: 38px;
}

.like-icon .contour {
  fill: var(--accent-color);
}

.like-icon .sparks {
  fill: var(--heard-fill);
}

.like-icon .main-body, 
.like-icon .core, 
.like-icon .sparks {
  fill: transparent;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
  fill: var(--accent-color);
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--heard-fill);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06;
  fill: var(--heard-fill);
}

.heart .contour {
  transition: fill 0.1s linear;
  fill: var(--accent-color);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--heard-fill);
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparkles 0.3s ease-in 0.3s;
}

@keyframes heart-scale {
  0%, 100% {
    transform: scale(1);
    transform-origin: center;
  }
  50% {
    transform: scale(1.5);
    transform-origin: center;
  }
}
  
@keyframes sparkles {
  0%, 100% {
    fill: none;
  }
  50% {
    fill: var(--heard-fill);
  }
}

@keyframes moveArrow {
  0% {
    transform: translateY(-50%) translateX(0);
  }
  100% {
    transform: translateY(-50%) translateX(4px);
  }
}