/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 100px auto 103px;
  width: var(--content-width);
  background-image:
    repeating-linear-gradient(
      to right, 
      var(--gradient-line-color) 0px, 
      var(--gradient-line-color) 2px,
      transparent 2px, 
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom, 
      var(--gradient-line-color) 0px, 
      var(--gradient-line-color) 2px, 
      transparent 2px, 
      transparent 4px
    ),
    linear-gradient(
      to bottom, 
      var(--gradient-first-color) 0.01%, 
      var(--gradient-second-color) 100%
    );
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-main),sans-serif;
  font-variation-settings: 'wght' var(--card-text-weight);
  font-size: 18px;
  color: var(--accent-color);
}

/* ------------------------ header ------------------------- */

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-block-end: 100px;
  align-items: center;
  text-transform: uppercase;
  padding-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  margin-block-end: 20px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-block-end: 24px;
}

/* ----- кнопки меню ---------- */

.theme-menu__button {
  text-transform: uppercase;
  text-align: left;
  padding: 0 0 0 20px;
  position: relative;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:disabled,
.theme-menu__button:hover,
.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: inherit;
  animation: moveArrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  background-color: var(--accent-color);
  width: 80%;
  height: 2px;
  transition: scale 0.3s ease;
  inset-inline-start: 20px;
  inset-block-end: -2px;
  scale: 0 1;
  block-size: 2px;
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  scale: 1 1;
}

/* ----------------------- Общие стили --------------------- */

.background-style {
  background-color: var(--bg-color);
}

.block-outline {
  border: var(--content-border);
}

.font-accent {
  font-family: var(--font-accent),sans-serif;
  font-size: 14px;
}

/* ----------- кнопка like----------- */
.card__like-button {
  height: 38px;
  width: 130px;
}
.content__form-button {
  line-height: 90%;
  position: relative;
  overflow: hidden;
  margin-inline-start: 11px;
  cursor: pointer;
}

.content__form-button:focus {
  outline: none;
}

.content__form-button:focus-visible {
  box-shadow: 2px 2px 0px var(--accent-color);
  transition: box-shadow 0.3s ease-in-out;
}

.content__form-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.content__form-button:hover::after {
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-like-color);
  mix-blend-mode: difference;
}

.card__icon-button {
  position: relative;
  height: 38px;
  width: 38px;
  border: 2px solid transparent;
  outline: none;
  transition: border 0.3s ease;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

/*---- сердце------ */

.like-icon {
  cursor: pointer;
  fill: var(--accent-color);
  height: 38px;
  width: 38px;
}

.like-icon .contour {
  fill: var(--accent-color);
}

.like-icon .sparks {
  fill: var(--heard-fill);
}

.like-icon .main-body, 
.like-icon .core, 
.like-icon .sparks {
  fill: transparent;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03;
}

.like-icon .main-body {
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
  fill: var(--accent-color);
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--heard-fill);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06;
  fill: var(--heard-fill);
}

.heart .contour {
  transition: fill 0.1s linear;
  fill: var(--accent-color);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--heard-fill);
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s both;
}

.like-icon.is-liked .sparks {
  animation: sparkles 0.3s ease-in 0.3s both;
}

/* ----------------------------- content --------------------------- */
.content {
  display: flex;
  flex-direction: column;
  gap: 50.4px;
}

.content__form {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.content__title {
  font-size: inherit;
  font-variation-settings: 'wght' var(--card-title-weight);
  padding: 4.4px 24px 5.4px 10px;
}

.content__text {
  line-height: 21px;
}

.content__description {
  margin: 25.4px 25.8px 0 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.content__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: center;
}

/* ------------ диалоговое окно --------------- */

.content__dialog {
  color: currentColor;
  max-width: 353px;
  padding: 30px;
}

.content__dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.content__dialog-form {
  max-width: 353px;
  display: grid;
  column-gap: 12px;
  row-gap: 30px;
  
}
.content__dialog-icon {
  align-self: center;
  width: 48px;
  height: 48px;
  fill: var(--accent-color);
}
.content__dialog-text {
  line-height: 150%;
  text-transform: uppercase;
}

.content__dialog-form-button {
  grid-row: 2/3;
  grid-column: 1/3;
  margin: 0;
  height: 38px;
}

.content__dialog-button {
  display: flex;
  justify-content: center;
}

.content__button {
  padding: 17px 21px 14px 19px;
  line-height: 90%;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.content__icon {
  width: 21px;
  height: 21px;
  fill: var(--accent-color);
}

/* --------- марка ----------------- */

.content__image-wrapper {
  max-height: 699.5px;
  position: relative;
  border-top: var(--content-border);
  border-bottom: var(--content-border);
}

.content__watermark {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 17px 15px;
  mix-blend-mode: hard-light;
  color: var(--accent-color);
  opacity: 50%;
  text-shadow:
    -1px 0 var(--bg-color), 
    0 1px var(--bg-color), 
    1px 0 var(--bg-color), 
    0 -1px var(--bg-color);
  font-weight: normal;
}

@supports (-webkit-text-stroke: var(--bg-color)) {
  .content__watermark {
    -webkit-text-stroke: 0.5px var(--bg-color);
    text-shadow: none;
  }
}

/* фильтры */
.filter-brightness {
  filter: brightness(200%);
} 

.filter-contrast {
  filter: contrast(20%);
} 

.filter-blur {
  filter: blur(0.2rem);
} 

.filter-grayscale {
  filter: grayscale(0.8);
} 

.filter-saturate {
  filter: saturate(158%);
} 

.filter-sepia {
  filter: sepia(80%);
} 

.filters {
  filter: sepia(1) contrast(2) brightness(200%);
} 

@media (width < 376px) {
  .content__title {
    padding: 3.5px 10px 5.5px;
  }

  .content__button {
    flex-direction: column;
  }

  .content__image-wrapper {
    height: 375px;
  }

  .content__icon {
    width: 28px;
    height: 28px;
  }

  .content__watermark {
    padding: 13px 3px;
  }
  
  .content__dialog {
    padding: 30px 42px;
  }
}
