/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --accent-color: #00CC14;
  --bg-color: #000000;

  --gradient-line-color: #000;
  --gradient-first-color: #007F0C;
  --gradient-second-color: #004306;

  --font-main: 'Inter';
  --font-accent: 'PressStart2P';
  --card-text-weight: 465;
  --card-title-weight: 785;

  --content-width:clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  --content-border: 2px solid var(--accent-color);

  --button-like-color: var(--accent-color);
    
  --heard-fill: #FF0000;

}

@media (width <= 375px) {
  :root {
    --content-width: 100%;
  }
}